{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script> --}}

<p class="d-flex text-center" style="margin-top: 10px; font-size: 20px;">Description section</p>

    <div class="container">

        <!-- <card class="d-flex">
            <h1>User Login</h1>
            <form action="/action_page.php">
                <input type="checkbox" id="patient" name="patient" value="patient">
                <label for="patient"> PATIENT</label><br>
                <input type="checkbox" id="doctor" name="doctor" value="doctor">
                <label for="doctor"> DOCTOR</label><br>

                <input type="text" name="username" placeholder="USERNAME">
                <input type="text" name="username" placeholder="PASSWORD">

                <input type="submit" value="Submit">
            </form>
    
        </card> -->

        <div class="login-form" style="margin-right: 15px;">
            <form action="/examples/actions/confirmation.php" method="post">
                <h2 class="text-center">USER LOGIN</h2>

                <div class="form-group" style="display:flex; justify-content:space-around;">
                    <label class="float-left form-check-label"><input type="checkbox" required="required">
                        PATIENT</label>
                    <label class="float-right form-check-label"><input type="checkbox" required="required">
                        DOCTOR</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group" style="margin-bottom: 77.33px;">
                    <input type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                </div>
            </form>
        </div>

        <!-- <card class="d-flex">
            <h1>Sign Up</h1>
            <form action="/action_page.php">
                <input type="text" name="name" placeholder="NAME">
                <input type="text" name="DOB" placeholder="D.O.B">
                <input type="text" name="username" placeholder="USERNAME">
                <input type="text" name="username" placeholder="PASSWORD">
                <input type="submit" value="Submit">
            </form>
        </card> -->

        <div class="login-form" style="margin-left: 15px;">
            <form action="/examples/actions/confirmation.php" method="post">
                <h2 class="text-center">SIGN UP</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="D.O.B" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <img class="hero"></img>
    </footer>



