    <header class="d-flex " style="background-color: rgb(85, 191, 240); min-height: 300px; max-height:fit-content">
        <div class="container2">
            <img class="hero"></img>
            <div class="container1">
                <ul class="descriptionSection nav nav-pills navbar-right "
                    style="font-size: 20px; margin-right: 10px;font-weight: bold;">
                    <li><button id="btn1" style="color:black;">About Me</button></li>
                    <li><button id="btn2" style="color:black;">Make an appointment</button></li>
                    <li><button id="btn3" style="color:black;">Contact us</button></li>
                </ul>
                <p class="descriptionSection d-flex text-center" style="margin-top: 10px; font-size: 20px;">Description section
                </p>
            </div>
            
        </div>
    </header>

<script src="/js/login.js"></script>