<!-- Login Sections-->
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>LOGIN</h3>
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control email-login"
            placeholder="Your Email" type="text" id="email-login"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control password-login"
            placeholder="Your Password *" type="text" id="password-login"
            value=""
          />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>


        <div class="form-group">
          <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>
      </form>
    </div>
    <div class="col-md-6 login-form-2">
      <h3>SIGN UP</h3>
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control name-signup"
            placeholder="Your Name *" type="text" id="name-signup"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control email-signup"
            placeholder="Your Email *"type="text" id="email-signup"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control password-signup"
            placeholder="Your Password *" type="text" id="password-signup"
            value=""
          />
        </div>
        <div class=".login-form-2">
          <input type="submit" class="btnSubmit" value="Sign Up" />
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>