  <!-- Sign Up Upper Text -->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Log in or sign up to schedule an appointment with <br> one of our talented chiropractors!"</div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- Login Sections-->
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>LOGIN</h3>
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control email-login"
            placeholder="Your Email" type="text" id="email-login"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control password-login"
            placeholder="Your Password *" type="text" id="password-login"
            value=""
          />
        </div>
        <br>
        <div class="form-group"> 
          <input type="submit" class="btnSubmit" value="Login" />
        </div>


        <div class="form-group">
          <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>
      </form>
    </div>
    <div class="col-md-6 login-form-2">
      <h3>SIGN UP</h3>
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control name-signup"
            placeholder="Your Name *" type="text" id="name-signup"
            value=""
          /> 
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control email-signup"
            placeholder="Your Email *"type="text" id="email-signup"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control password-signup"
            placeholder="Your Password *" type="text" id="password-signup"
            value=""
          />
        </div>
        <br>
        <div class=".login-form-2">
          <input type="submit" class="btnSubmit" value="Sign Up" />
        </div>
      </form>
    </div>
  </div>
</div>

 <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"My back doesn't feel like shit anymore! This is great! Holy cow! I can't wait to see where my working back will take me next. Thanks Saguilan Chiropractic!"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        John Doe
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Once Had A Hurt Back
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; CS | IS | JA | CH | SK</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

<script src="./js/login.js"></script>